@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

body {
  background-color: #34383a !important;
  font-family: "Nunito Sans", sans-serif;
  color: white !important;
}

.card-black-bg {
  background-color: #202d36 !important;
}

.card > img {
  height: 200px;
  object-fit: cover;
}

.card-body-ht {
  height: 210px;
}

.card-body > p {
  margin-bottom: 0.5rem;
}

.card-title {
  font-weight: 700;
}

.card-text {
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 650px) {
  .card > img {
    height: 150px;
    object-fit: cover;
  }

  .card-body-ht {
    height: 250px;
  }
}
